.section {
  display: flex;
  flex-direction: column;
  font-size: 1.4rem;
  width: 100%;
  max-width: 80rem;
  margin: auto;
  margin-bottom: 2rem;
}

.title {
  font-family: "Balsamiq Sans", cursive;
  text-align: center;
  color: rgb(25, 32, 58);
  font-size: 3rem;
  margin: 2rem 0;
}

.lessonsTitle {
  text-align: center;
  font-family: "Rubik Marker Hatch", cursive;
  font-size: 2.5rem;
  color: rgb(66, 80, 135);
}

.lessonsSubTitle {
  font-family: "Pangolin", cursive;
  text-indent: 3rem;
  font-size: 1.6rem;
  margin: 0.5rem;
}

.lessonCardsWrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  margin: 1rem 0;
}

.lessonCard {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 60rem;
  padding: 1rem;
  background-color: rgba(205, 225, 245, 0.8);
  border-radius: 2rem;
  margin: 0.5rem;
  flex-wrap: wrap;
  justify-content: center;
}

.imgContainer {
  min-width: 10rem;
  margin-right: 1rem;
}

.cardText {
  max-width: 40rem;
}

.lessonName {
  font-family: "Rubik Marker Hatch", cursive;
}

.contactInfo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.imageContacts {
  width: 6rem;
  margin: 1rem;
}

.lessonsFootNote {
  font-family: "Pangolin", cursive;
  text-align: center;
  margin: 0 2rem;
  font-size: 2rem;
  margin-bottom: 2rem;
}

.eventsContainer {
  width: 100%;
  max-width: 80rem;
}

.eventItem {
  display: flex;
  flex-direction: row;
  border-bottom: solid 1px gray;
  background-color: white;
  margin: 0.5rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  flex-wrap: wrap;
}

.eventDate {
  margin-right: 0.8rem;
  font-weight: bold;
}

.eventTitle {
  font-size: 2rem;
}

.eventText {
  max-width: 65rem;
}

.eventDescription {
  color: rgb(66, 80, 135);
}

.eventImgContainer {
  width: 10rem;
  max-width: 10rem;
  min-width: 10rem;
  margin-right: 1rem;
}

.videoContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: auto;
}

.videoItem {
  margin: 1rem;
  border-radius: 1rem;
}

.developer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  cursor: pointer;
  padding-right: 0.5rem;
  color: rgb(66, 80, 135);
}

.developer:hover {
  color: rgb(101, 0, 0);
}
