.adminPage {
  display: flex;
  max-width: 80rem;
  margin: auto;
  justify-content: center;
  padding: 1rem;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}

.adminTitle {
  text-align: center;
  font-size: 1.8rem;
  margin: 0.5rem;
}

.tab {
  width: 100%;
}

.addBookWrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  border: 1px solid black;
  padding: 1rem 1rem 0 1rem;
  border-radius: 1rem;
  max-width: 38rem;
  margin-bottom: 2rem;
  padding-bottom: 1rem;
}

.addBookTitle {
  text-align: center;
  margin-bottom: 1rem;
  font-size: 1.6rem;
}

.form {
  width: 95%;
  max-width: 25rem;
  margin: 2rem auto;
}

.control {
  margin-bottom: 0.5rem;
}

.control label {
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: rgb(25, 32, 58);
  display: block;
}

.control input {
  display: block;
  font: inherit;
  width: 100%;
  border-radius: 4px;
  border: 1px solid rgb(25, 32, 58);
  padding: 0.25rem;
  background-color: #f7f0fa;
}

.action {
  margin-top: 1.5rem;
}

.action button {
  font: inherit;
  cursor: pointer;
  padding: 0.5rem 1.5rem;
  border-radius: 4px;
  background-color: rgb(25, 32, 58);
  color: white;
  border: 1px solid rgb(25, 32, 58);
}

.action button:hover {
  background-color: white;
  border-color: black;
  color: black;
}

.formRow {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.deleteBook {
  background-color: rgb(195, 0, 0);
  color: white;
  font-weight: bold;
}

.deleteBook:hover {
  background-color: red;
  color: white !important;
}

.datePicker {
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: none;
}

.studentListItem {
  display: flex;
  padding: 0.2rem 0.5rem;
  margin: 0.3rem;
  background-color: white;
  border-radius: 0.5rem;
  flex-wrap: wrap;
  justify-content: space-between;
}

.studentName {
  width: 13rem;
}

.studentEmail {
  width: 16rem;
}

.studentPhone {
  width: 6rem;
}

.eventItem {
  display: flex;
  flex-direction: row;
  border-bottom: solid 1px gray;
  background-color: white;
  margin: 0.5rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  flex-wrap: wrap;
}

.eventDate {
  margin-right: 0.8rem;
  font-weight: bold;
}

.eventTitle {
  font-size: 2rem;
}

.eventText {
  max-width: 65rem;
}

.eventDescription {
  color: rgb(66, 80, 135);
}

.eventImgContainer {
  width: 10rem;
  max-width: 10rem;
  min-width: 10rem;
  margin-right: 1rem;
}

.bookToLendWrapper {
  background-color: white;
  margin: 0.2rem;
  padding: 0.2rem 0.5rem;
  border-radius: 0.5rem;
}

.bookToLendSubTitle {
  color: rgb(255, 0, 0);
}

.bookToLendTitle {
  font-weight: bold;
  color: rgb(66, 80, 135);
}

.bookToLendEmailList {
  margin-left: 3rem;
}

.bookToLendItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.3rem;
}

.handedBook {
  background-color: white;
  margin: 0.2rem 0.5rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.handedBookRow {
  display: flex;
  justify-content: space-between;
}
